#page_footer{
  
background-color: #1D201F;
min-height: 10vh;
display: grid;
>.footer_span{


    display: grid;

    align-items: center;


    justify-items: center;

    >a{


        color: #EAD2AC;
    }

}

}