#page_header{
min-height: 10vh;
    display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    >#header_span{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
justify-items: center;
    }
}