@use "header";
@use "footer";


* {

    margin: 0px;
    padding: 0px;
}

body {


}

#page_main {
    background-color: #D1DEDE;

    min-height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;

    >#main_section {

        width: 100%;
        display: grid;
        margin-bottom: 50px;
        align-items: center;
        justify-items: center;

        >article {

            width: 100%;

            display: grid;

            align-items: center;
            justify-items: center;
            >.main_span {

                color: #EAD2AC;
                border-radius: 25px;

                width: 80%;

                margin-top: 25px;
                background-color: #1D201F;

                align-items: center;
                justify-items: center;
                display: grid;

                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                text-align: center;


                

                >.clickme{

                }


                >p{

                    width: 60%;
                }


                >.magi {
                    object-fit: cover;

                    border-radius: 50%;

                    padding: 25px;
                    background-color: #EAD2AC;

                    height: 70%;
                    width: 35%;

                }

            }


        }





    }

}